.header__line {
  margin: 40px 0 0 0;
  padding: 0px;
background-color: #545454;
height: 1px;

}/*
.langes:nth-child(2) {
  margin-right: 0px;
  text-decoration: underline;
  }
*/
  @media screen and (max-width: 320px) {

    .header__line {
      margin: 32px 0 0 0;
    }
}
