.popup_opened {
/* visibility: visible;
z-index: 1;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
opacity: 1; 
pointer-events: all;
transition: 0.5s all;
} */
transform: translate(-50%, -50%) scale(1); /*Так же центрируем и плавно увеличиваем*/
transition: 0.5s all;
opacity: 1; 
}